nav {
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    color: white;
    animation: fadeIn 1s ease-in-out;
    position: relative;
  }

  nav {
    background-color: transparent;
    padding: 1em;
  }
  
  nav a {
    color: #fff;
    margin-right: 1em;
    text-decoration: none;
  }
  .nav-items {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap; 
  }
  
  .nav-links {
    display: flex;
    gap: 1rem;
  }
  
  .hamburger {
    display: none;
    flex-direction: column;
    gap: 0.5rem;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 100;
  }
  
  .hamburger span {
    width: 25px;
    height: 3px;
    background-color: white;
  }
  
  .nav-links.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 1rem;
    width: 200px;
    border-radius: 0.5rem;
    animation: fadeIn 0.3s ease-in-out;
  }
  
  .nav-link {
    text-decoration: none;
    color: white;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }
  
  .active-link {
    text-decoration: underline;
    color: white;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .hamburger {
      display: flex;
    }
  
    .nav-links {
      display: none;
    }
  }