nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    color: white;
    animation: fadeIn 1s ease-in-out;
    padding: 2rem;
  }
  
  .nav-items {
    display: flex;
    align-items: center;
  }
  
  .nav-links {
    display: flex;
    gap: 3rem;
    align-items: center;
  }
  
  .hamburger {
    display: none;
    flex-direction: column;
    gap: 0.5rem;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 100;
  }
  
  .hamburger span {
    width: 25px;
    height: 3px;
    background-color: white;
  }
  
  .nav-links.open {
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 1rem;
    width: 200px;
    border-radius: 0.5rem;
    animation: fadeIn 0.3s ease-in-out;
  }
  
  .nav-link {
    text-decoration: none;
    color: white;
  }
  
  .nav-link:hover,
  .active-link {
    text-decoration: underline;
  }


  
  /* Responsive Design */
  @media (max-width: 768px) {
    .hamburger {
      display: flex;
    }
  
    .nav-links {
      display: none;
    }
  }
  