
/* Animation keyframes */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes sildeUp {
    from {
        transform:translateY(-50%);
    }
    to{
        transform:translateY(0%);
    }
}